In [1]:
import pandas as pd

In [2]:
berk = pd.read_csv('opencourse/berkTest.csv')
cmu = pd.read_csv('opencourse/CMUTest.csv')
corn = pd.read_csv('opencourse/cornellTest.csv')
sail = pd.read_csv('opencourse/SAILTest.csv')
uiuc = pd.read_csv('opencourse/UIUCTest.csv')
yale = pd.read_csv('opencourse/YaleTest.csv')
mit = pd.read_csv('opencourse/mitTest.csv')
stan = pd.read_csv('opencourse/stanfordTest.csv')

allData = [berk, cmu, corn, sail, uiuc, yale, mit, stan]

In [3]:
total = 0
for df in allData:
    print(df.columns)
    print()

Index(['description', 'link', 'name', 'number', 'prerequisites', 'profs',
       'text_profs', 'type', 'units', 'websites'],
      dtype='object')

Index(['background', 'key_topics', 'last_offered', 'level', 'link', 'meta',
       'name', 'number', 'permission', 'prereq', 'units', 'website'],
      dtype='object')

Index(['name', 'sites'], dtype='object')

Index(['link', 'name', 'number', 'profs'], dtype='object')

Index(['description', 'directors', 'last_updated', 'link', 'name', 'number',
       'prereq', 'website'],
      dtype='object')

Index(['date', 'description', 'link', 'name', 'number', 'professor'], dtype='object')

Index(['description', 'features', 'level', 'link', 'name', 'number',
       'taught_in'],
      dtype='object')

Index(['link', 'name', 'number', 'prof'], dtype='object')

In [4]:

allData[0].drop(columns = ['prerequisites', 'type', 'profs', 'text_profs', 'units'], inplace = True)
allData[0].rename(columns={"websites": "website"}, inplace=True)
allData[0].dropna(subset = ["website"], inplace=True)
allData[0]['college'] = 'UC Berkley'
allData[0].head()

,description,link,name,number,website,college
0,Foundations of data science from three perspe...,https://www2.eecs.berkeley.edu/Courses/CSC8,NaN,CS C8,http://inst.eecs.berkeley.edu/~cs8,UC Berkley
1,"Fundamental dynamic data structures, includin...",https://www2.eecs.berkeley.edu/Courses/CS61B,The Structure and Interpretation of Computer P...,CS 61B,http://inst.eecs.berkeley.edu/~cs61b,UC Berkley
2,An introduction to programming and computer s...,https://www2.eecs.berkeley.edu/Courses/CS61A,Self-paced courses,CS 61A,http://inst.eecs.berkeley.edu/~cs61a,UC Berkley
3,This course allows students who have had a li...,https://www2.eecs.berkeley.edu/Courses/EECS47D...,Self-paced courses,EECS 47D,http://inst.eecs.berkeley.edu/~eecs47d,UC Berkley
4,MIPS instruction set simulation. The assembly...,https://www2.eecs.berkeley.edu/Courses/CS47C_1977,Self-paced courses,CS 47C,http://inst.eecs.berkeley.edu/~cs47c,UC Berkley

In [5]:
allData[1].drop(columns = ['background', 'key_topics', 'last_offered', 'level', 'units', 'meta', 'permission', 'prereq'], inplace = True)
allData[1].dropna(subset = ["website"], inplace=True)
allData[1]['college'] = 'Carnegie Mellon'
allData[1].head()

,link,name,number,website,college
2,https://www.csd.cs.cmu.edu/course-profiles/15-...,Algorithms and Advanced Data Structures,15-351,http://www.cs.cmu.edu/~jianma/15351/index.html,Carnegie Mellon
4,https://www.csd.cs.cmu.edu/course-profiles/15-...,Algorithm Design and Analysis,15-651,"https://www.cs.cmu.edu/~15451/,https://www.cs....",Carnegie Mellon
6,https://www.csd.cs.cmu.edu/course-profiles/15-...,Database Systems,15-645,http://15445.courses.cs.cmu.edu/,Carnegie Mellon
7,http://www.csd.cs.cmu.edu/course-profiles/15-3...,Constructive Logic,15-317,http://www.cs.cmu.edu/~fp/courses/15317-f17/,Carnegie Mellon
9,https://www.csd.cs.cmu.edu/course-profiles/15-...,Discrete Differential Geometry,15-458,http://geometry.cs.cmu.edu/ddg,Carnegie Mellon

In [6]:
def courseNum(df):
    return df['name'].split(':')[0]
def courseName(df):
    return df['name'].split(':')[len(df['name'])]
def courseName(df):
    return df['name'].split(':')[1]
def courseLink(df):
    l =  eval(df['website'])[0]
    l = list(l.values())
    if len(l) == 0:
        return ''
    return l[0]
allData[2].rename(columns={"sites": "website"}, inplace=True)
allData[2].dropna(subset = ["website"], inplace=True)
allData[2]['number'] = allData[2].apply(courseNum, axis = 1)
allData[2]['name'] = allData[2].apply(courseName, axis = 1)
allData[2]['website'] = allData[2].apply(courseLink, axis = 1)
allData[2]['college'] = 'Cornell'
allData[2].head()

,name,website,number,college
0,Fundamental Programming Concepts,https://classes.cornell.edu/browse/roster/SU20...,1109,Cornell
1,Introduction to Computing Using Python,https://classes.cornell.edu/browse/roster/SP22...,1110,Cornell
2,Introduction to Computing Using MATLAB,http://www.cs.cornell.edu/courses/CS1112/2021sp/,1112,Cornell
3,Short Course in MATLAB,http://www.cs.cornell.edu/courses/CS1132/2021sp/,1132,Cornell
4,Short Course in Python,https://classes.cornell.edu/browse/roster/SP22...,1133,Cornell

In [7]:
allData[3].drop(columns = ['profs'], inplace = True)
allData[3].rename(columns={"link": "website"}, inplace=True)
allData[3].dropna(subset = ["website"], inplace=True)
allData[3]['college'] = 'Stanford'
allData[3].head()

,website,name,number,college
0,http://www.stanford.edu/class/cs124/,From Languages to Information,CS124,Stanford
1,http://logic.stanford.edu/classes/cs157/current/,Computational Logic,CS157,Stanford
2,http://web.stanford.edu/class/cs205l/,Continuous Mathematical Methods with an Emphas...,CS205L,Stanford
3,http://www.stanford.edu/class/cs221/,Artificial Intelligence: Principles and Techni...,CS221,Stanford
4,https://stanford-cs221.github.io/spring2021/,Artificial Intelligence: Principles & Techniques,CS221,Stanford

In [8]:
allData[4].drop(columns = ['link','prereq','directors','last_updated'], inplace = True)
allData[4].dropna(subset = ["website"], inplace=True)
allData[4]['college'] = 'University of Illinois at Urbana-Champaign'
allData[4].head()

,description,name,number,website,college
0,Computing as an essential tool of academic and...,Intro Computing: Non-Tech,CS 105,https://go.cs.illinois.edu/105,University of Illinois at Urbana-Champaign
1,A theoretical CS course covering advances in a...,Topics in Algrthmc Game Theory,CS 580,https://courses.grainger.illinois.edu/cs580/fa...,University of Illinois at Urbana-Champaign
2,The purpose of the course is to give each stud...,Algorithmic Genomic Biology,CS 581,http://tandy.cs.illinois.edu/CS581-Fa2021-shor...,University of Illinois at Urbana-Champaign
5,Seminar on topics of current interest as annou...,CS Colloquium,CS 591 CSO,https://courses.grainger.illinois.edu/cs591cs/...,University of Illinois at Urbana-Champaign
8,Approximation algorithms for NP-hard problems....,Approximation Algorithms,CS 583,https://courses.engr.illinois.edu/cs583/fa2021/,University of Illinois at Urbana-Champaign

In [9]:
allData[5].drop(columns = ['date','professor'], inplace = True)
allData[5].rename(columns={"link": "website"}, inplace=True)
allData[5].dropna(subset = ["website"], inplace=True)
allData[5]['college'] = 'Yale'
allData[5].head()

,description,website,name,number,college
0,"An overview of the ideas, methods, and institu...",https://oyc.yale.edu/economics/econ-252,Financial Markets (2011),ECON 252,Yale
1,"This course examines major works by Hemingway,...",https://oyc.yale.edu/american-studies/amst-246,"Hemingway, Fitzgerald, Faulkner",AMST 246,Yale
2,The purpose of this course is to examine the A...,https://oyc.yale.edu/african-american-studies/...,African American History: From Emancipation to...,AFAM 162,Yale
3,This course presents the principles of evoluti...,https://oyc.yale.edu/ecology-and-evolutionary-...,"Principles of Evolution, Ecology and Behavior",EEB 122,Yale
4,This course focuses on three particularly inte...,https://oyc.yale.edu/astronomy/astr-160,Frontiers and Controversies in Astrophysics,ASTR 160,Yale

In [10]:
allData[6].drop(columns = ['features','level','taught_in'], inplace = True)
allData[6].rename(columns={"link": "website"}, inplace=True)
allData[6].dropna(subset = ["website"], inplace=True)
allData[6]['college'] = 'Massachusetts Institute of Technology'
allData[6].head()

,description,website,name,number,college
0,This course investigates theories and practice...,https://ocw.mit.edu/courses/womens-and-gender-...,Feminist Inquiry: Strategies for Effective Sch...,WGS.615,Massachusetts Institute of Technology
1,This course examines the definition of gender ...,https://ocw.mit.edu/courses/history/21h-983j-g...,Gender: Historical Perspectives\n\t\t ...,WGS.310J,Massachusetts Institute of Technology
2,"In this course, students will develop their ab...",https://ocw.mit.edu/courses/womens-and-gender-...,Changing Life: Reading the Intersections of Ge...,WGS.700,Massachusetts Institute of Technology
3,What can we learn about science and technology...,https://ocw.mit.edu/courses/womens-and-gender-...,"Gender, Race, and the Complexities of Science ...",WGS.693,Massachusetts Institute of Technology
4,This course uses theories of gender to explore...,https://ocw.mit.edu/courses/womens-and-gender-...,Gendering U.S. Immigration Policy: Sociopoliti...,WGS.645,Massachusetts Institute of Technology

In [11]:
allData[7].drop(columns = ['prof'], inplace = True)
allData[7].rename(columns={"link": "website"}, inplace=True)
allData[7].dropna(subset = ["website"], inplace=True)
allData[7]['college'] = 'Stanford'
allData[7].head()

,website,name,number,college
0,http://CS199P.Stanford.EDU,Independent Work,CS199P,Stanford
1,http://CS802.Stanford.EDU,Human-Computer Interaction Seminar,CS802,Stanford
2,http://CS499.Stanford.EDU,"Music, Computing and Design I",CS499,Stanford
3,http://CS224V.Stanford.EDU,Artificial Intelligence: Principles & Techniques,CS224V,Stanford
4,http://CS399P.Stanford.EDU,Independent Project,CS399P,Stanford

In [12]:

combined = pd.merge(allData[0], allData[1], how="outer")
combined = pd.merge(combined, allData[2], how="outer")
combined = pd.merge(combined, allData[3], how="outer")
combined = pd.merge(combined, allData[4], how="outer")
combined = pd.merge(combined, allData[5], how="outer")
combined = pd.merge(combined, allData[6], how="outer")
combined = pd.merge(combined, allData[7], how="outer")
combined
combined.to_csv('cleanData.csv')

In [19]:
combined.sample().description

3803    The need to identify sustainable forms of ener...
Name: description, dtype: object